.container {

    width: calc(100% - 5rem);
    max-width:150rem;
    margin: 0 auto;
}

$cols: 12;

.row {
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through $cols {
    .col-#{$i} {
        flex: 0 0 100% / $cols * $i;
    }
    .col-offset-#{$i} {
        margin-left: 100% / $cols * $i;
    }
}


@media screen and (min-width: 200px) and (max-width: 640px) { 
    $cols: 12;

    @for $i from 1 through $cols {
        .col-xs-#{$i} {
            flex: 0 0 100% / $cols * $i;
        }
        .col-offset-#{$i} {
            margin-left:100% / $cols * $i;
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 980px) { 
    $cols: 12;

    @for $i from 1 through $cols {
        .col-medium-#{$i} {
            flex: 0 0 100% / $cols * $i;
        }
        .col-offset-#{$i} {
            margin-left:100% / $cols * $i;
        }
    }
}
