.container {
    display: gird;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-gap: 3rem;

    background-color: red;
    width: calc(100% - 5rem);
    margin: 0 auto;
}

$cols: 12;

.row {
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through $cols {
    .col-#{$i} {
        flex: 0 0 100% / $cols * $i;
    }
    .col-offset-#{$i} {
        margin-left: 0 0 100% / $cols * $i;
    }
}


@media screen and (min-width: 200px) and (max-width: 640px) { 
    $cols: 12;

    @for $i from 1 through $cols {
        .col-xs-#{$i} {
            flex: 0 0 100% / $cols * $i;
        }
        .col-offset-#{$i} {
            margin-left: 0 0 100% / $cols * $i;
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 980px) { 
    $cols: 12;

    @for $i from 1 through $cols {
        .col-medium-#{$i} {
            flex: 0 0 100% / $cols * $i;
        }
        .col-offset-#{$i} {
            margin-left: 0 0 100% / $cols * $i;
        }
    }
}
